@import url(https://fonts.google.com/specimen/Young+Serif);

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

body {
    font-size: 1.6rem;
    background-color: var(--Eggshell);
    line-height: 1.5;
    font-family: "Young Serif";
    font-optical-sizing: auto;
    font-weight: 400,600,700;
    font-style: normal;
}

main {
    width: 33%;
    margin: 10rem auto;
    background-color: var(--White);
    min-height: 100vh;
    border-radius: 1.5rem;
    padding: 2.5rem;
    color: var(--Wenge-Brown);

}

#recipe > img {
    width: 100%;
    border-radius: 1rem;
}

h1 {
    margin: 1.5rem 0;
    color: black;
    font-size: 3rem;
}

.time {
    background-color: hsl(330, 100%, 98%);
    border-radius: 1.5rem;
    padding: 2.5rem;
    margin: 2rem 0;
}

.time > h4 {
    color: var(--Dark-Raspberry);
}

ul,
ol {
    padding: 2rem;
}

li {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

h1,
h3 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    color: hsl(14, 45%, 36%);
    font-size: 2.5rem;
}

hr{
    border: none;
    border-top:0.1rem solid lightgray ;
}

.instructions,
.nutrition-table{
    margin-top: 2rem;
}

body > main:nth-child(1) > p:nth-child(11){
    margin: 1rem 0;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border-bottom: 0.1rem solid lightgray;
    padding: 1rem 1.5rem;
    width: 50%;
}

td:nth-child(1){
    padding-left: 3rem;
}

td:last-child{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.border{
    border-bottom: none;
}